body {
    background-color: rgb(233, 152, 218);
    font-family: futura, sans-serif;
    color: rgb(136, 58, 132)
 }
 
 h1 {
    text-align: center;
    color: rgb(175, 58, 157)
 }
 
 h2 {
    color: rgb(175, 58, 157)
 }
 
 button {
    margin: 0 10px;
    background-color: rgb(238, 208, 228);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(255, 0, 230);
    transition: transform 0.5s ease-out;
 }

 .pulse-animation {
   animation: pulse 0.7s ease-in-out;

 } 

 @keyframes pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.1); }
   100% { transform: scale(1); }
 } 
